<mat-toolbar color="primary" class="mat-elevation-z20 top-bar">{{title}}</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="true" class="nav">
    <mat-nav-list role="list">
      <a mat-list-item routerLink="customer" routerLinkActive="active">Customer Details</a>
      <a mat-list-item routerLink="account" routerLinkActive="active">Account Details</a>
      <a mat-list-item routerLink="dynamic" routerLinkActive="active">Dynamic Form</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
