<app-view-container>

  <ng-container slot="top">
    <mat-toolbar color="primary">
      <h1>Documents Form</h1>
    </mat-toolbar>

    <mat-toolbar color="primary">
      <form [formGroup]="form" (ngSubmit)="send()">
        <mat-radio-group formControlName="sent">
          <mat-radio-button value="sent">Already sent</mat-radio-button>&nbsp;
          <mat-radio-button value="not-sent">Not sent yet</mat-radio-button>
        </mat-radio-group>
      </form>
    </mat-toolbar>

    <mat-toolbar color="primary">
      <form [formGroup]="buttonsForm">
        <mat-radio-group formControlName="size">
          <mat-radio-button value="small">Small</mat-radio-button>&nbsp;
          <mat-radio-button value="medium">Medium</mat-radio-button>
          <mat-radio-button value="large">Large</mat-radio-button>
        </mat-radio-group>
      </form>
    </mat-toolbar>

  </ng-container>


  <ng-container slot="left">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Document Form</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Nunc maximus auctor justo id dapibus. Aliquam nec hendrerit ante. Ut leo tellus, condimentum id metus ac, consectetur mollis eros.
        Praesent ullamcorper scelerisque facilisis. Etiam at mauris dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        Aliquam maximus est justo, sit amet pharetra ante iaculis non. Proin non tortor tincidunt, viverra diam et, sollicitudin ante. Quisque condimentum mauris imperdiet eros euismod,
        at porta dui mollis. Vivamus molestie dictum ante at ultrices. Fusce cursus laoreet sapien ac egestas. Aenean non tellus eu dui pharetra cursus. Curabitur egestas a dolor aliquet consequat.
        <br>
        <br>
        <form [formGroup]="form" (ngSubmit)="send()">
          <ng-container *ngIf="form.controls.sent.value === 'sent'">
            <br>
            <mat-form-field>
              <mat-label>file</mat-label>
              <input matInput formControlName="docId" required>
            </mat-form-field>
            <input type="file" hidden #file (change)="updateDocumentField($event)">
            <button mat-raised-button (click)="file.click()" type="button">
              <mat-icon>attach_file</mat-icon>
            </button>
            <br>
            <mat-form-field>
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="dp" formControlName="date" required>
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Comment</mat-label>
              <input matInput formControlName="comment">
            </mat-form-field>
          </ng-container>


          <ng-container *ngIf="form.controls.sent.value === 'not-sent'">
            <br>
            <mat-form-field class="example-full-width">
              <mat-label>Passport Number</mat-label>
              <input type="text" placeholder="Passport #:" aria-label="Number" matInput formControlName="passId" required [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <br>
            <mat-radio-group formControlName="urgent">
              <mat-radio-button value="urgent">Urgent</mat-radio-button>&nbsp;
              <mat-radio-button value="not-urgent">Not Urgent</mat-radio-button>
            </mat-radio-group>
            <br>
            <mat-form-field>
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="ddl" formControlName="deadline" [required]="urgent">
              <mat-datepicker-toggle matSuffix [for]="ddl"></mat-datepicker-toggle>
              <mat-datepicker #ddl></mat-datepicker>
            </mat-form-field>
          </ng-container>
          <br>
          <app-button *ngIf="form.controls.sent.value" [disabled]="form.status !== 'VALID'" [size]="btnSize">SEND FORM</app-button>
        </form>
      </mat-card-content>
    </mat-card>
  </ng-container>
</app-view-container>
